body {background-color: lightblue; 
    background: url(all_seasons.jpg) center no-repeat;
    background-size: contain;
    min-width: 1224px;
    min-height: 768px;
    border-top: 1px solid transparent; 
}

  button {  border-radius: 9px; display: block;
            padding: 10px 20px;
            margin: -5px auto 10px auto }

  .content  { background-color: white; 
              margin: 0 30%;
              margin-top: 21%;
              border: 2px solid lightgreen; 
              border-radius: 20px }
  .weather, city, p.t {font-size: 24px; color: gray; text-align:center; }
  .weather, p.t { margin-bottom: 0 }
  .temperature { font: bold  }

  .icon     { width: 30px; height: 30px; 
              padding: 15px; 
              margin:auto;
              background: no-repeat;
            }
          
  